@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*{
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;  
  overflow-y: auto;
}

.navbar{
  width: 100%;
  height: 80px;
  background-color: rgb(27, 27, 27);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}

.page-name{
  font-size: 24px;
  font-weight: 600;
}

.nav-items{
  display: flex;
  cursor: pointer;
  list-style: none;
}

.nav-item{
  margin: 0 15px;
  font-size: 14px;
  font-weight: 600;
}

.item-selected{
  color: greenyellow;
}

.toggle-icon{
  display: none;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: orange;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

@media(max-width: 768px){

  .navbar{
    position: relative;
    transition: 0.5s height ease-in-out;
  }

  .expanded{
    height: 100vh;
  }

  .expanded .nav-items{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.5s opacity ease-in-out;
  }

 .expanded .nav-item{
    margin: 15px 0; 
    font-size: 20px;
    display: block;
  }

  .page-name{
    position: absolute;
    top: 23px;
    left: 20px;
  }

  .toggle-icon{
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    color: whitesmoke;
  }

  .nav-items{
    display: none;
  }

 .nav-items{
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
  }

 .nav-item{
    margin: 15px 0; 
    font-size: 20px;
    display: block;
  }
}